:root {
  font-size: 16px;
  --board-width: 27rem;
  --cell-size: calc(var(--board-width)/9 - 2px);
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:invalid {
  color: red;
}

input:disabled {
  color: black;
  cursor: default;
}

input:disabled:hover {
  color: black;
  cursor: default;
  background-color: white;
}

.game-board {
  width: var(--board-width);
}

.board-row {
  display: block;
}

.square {
  float: left;
  font-family: Comic Sans MS;
  width: var(--cell-size);
  height: var(--cell-size);
  line-height: var(--cell-size);
  font-size: 2rem;
  text-align: center;
  margin: -1px;
  color: blue;
  background-color: white;
  border: 1px solid black;
}

.square:hover {
  cursor: pointer;
  background-color: #dbdbdb;
}

.block {
  float: left;
  margin: -2px;
  border: 2px solid black;
}

.initial {
  font-family: Times;
}

.conflict {
  color: #f43a3a;
  background-color: pink;
}

.conflict:not(.initial) {
  background-color: #ffa5a5;
}

.game {
  margin-top: 10vh;
}

.game-board {
  position: relative;
  margin: auto;
}

.game-menu {
  position: absolute;
  top: 2.5rem;
  right: -10rem;
  width: 10rem;
  text-align: center;
  padding: 5px;
}

Button {
  background-color: lightblue;
}

Button:hover {
  background-color: navy;
  color: white;
}

.validation {
  margin-top: 1rem;
}

.status {
  position: absolute;
  top: 28.75rem;
  left: 8rem;
  font-size: 1.5rem;
  color: blue;
}

.instructions {
  margin-top: 1rem;
}

.title {
  text-align: center;
}

.github-link{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
