:root {
  font-size: 16px;
  --board-width: 27rem;
  --cell-size: calc(var(--board-width)/9 - 2px);
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:invalid {
  color: red;
}

input:disabled {
  color: black;
  cursor: default;
}

input:disabled:hover {
  color: black;
  cursor: default;
}

.game-board {
  width: var(--board-width);
}

.board-row {
  display: block;
}

.square {
  float: left;
  width: var(--cell-size);
  height: var(--cell-size);
  line-height: var(--cell-size);
  font-size: 2rem;
  text-align: center;
  margin: -1px;
  border: 1px solid black;
}

.square:hover {
  cursor: pointer;
}

.block {
  float: left;
  margin: -2px;
  border: 2px solid black;
}

.initial {
  background: #f2f2f2;
}

.game-board {
  margin: auto;
  margin-top: 2rem;
}

.game-menu {
  display: inline-block;
  text-align: center;
  margin-left: 1rem;
}

.generate-btn{
  background-color: #f8f8f8;
}

.generate-btn:hover{
  background-color: navy;
  color: white;
}
